* {
  box-sizing: border-box;
}

html {
  font-family: "Arial, Helvetica, sans-serif";
}

body {
  margin: 0px;
}

/*universal selector with a attribute selctor that looks for attrebutes that have a "h" within them
*[class^="h"] {
  font-family: "Times New Roman", Times, serif;
}
/* --------------------------------------------------------------------------------------------------- */
/* Specific Stylings */
.header {
  padding: 48px 18px;
  text-align: center;
  background-color: rgb(165, 162, 162);
  position: relative;
  left: -20;
}

.hire-me {
  display: inline-block; /* shrinks its size down to its content instead of the whole line*/
  position: absolute; /*the space it reserves should be not taken up in the flow*/
  top: 20px; /* sets the content to the top with a shift down of 20px down*/
  right: 20px; /*sets the content to the right with 20px to left */
  padding: 9px; /*puts space between text and the block */
  border-radius: 5px; /* rounds the edges of the element aside*/
  color: rgba(0, 0, 0, 1);
  background-color: salmon;
}

.main {
  padding: 30px;
  margin: 0px auto;
}

.article-headings {
  position: relative; /*sets the position property to relativ*/
  left: -20px; /*creats an offset of -20. so to the LEFT from its initial position aut of the flow*/
}
/* Adds spacing between all"*" direct children ">" of main */
main > * {
  margin-top: 16px;
  margin-left: 20px;
}

.profession::after {
  content: "🚴";
}

/* Draw a line between all direct articles children of main except the first one */
main article:not(:first-child) {
  border-top: 1px solid #000;
}

/* Adding spacing between all anchor nav elements except the last one  */
nav a:not(:last-child) {
  margin-right: 24px;
}
/* Adds general color to all anchor elements */
a {
  color: rgb(0, 17, 255);
}
/* "pseudo-class" selector */
a:link {
  background-color: rgb(208, 208, 208);
}
/* "pseudo-class" selector */
a:visited {
  background-color: rgb(0, 255, 0);
}

a:hover {
  background-color: rgb(97, 247, 102);
}

.experiences-sub-heading {
  display: inline-block;
}

.experiences-time-span {
  display: inline-block;
}

/* "adjacent sibling combinator" Targets acrticle that come after another */
article + article {
  margin-top: 16px;
}
/* "pseudo-element selector" If a text get selected the selected test will be highlited in: */
::selection {
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}
